.filter__container {
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 3px;
}

.filter__sort-button {
    margin-right: 20px;
}

.filter__search {
    width: 90%;
    float: right;
}